{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap mt-2">
    <h2 class="poppins-semibold">Favorites</h2>
    <table class="table">
        <thead>
        <tr c>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Product Image</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Discounted Price</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for favorite_item in favorite.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="text-center">
                <img src="{{ favorite_item.item.image.url }}" class="img-fluid" style="width: 50px;">
            </td>
            <td>{{ favorite_item.item.title }}</td>
            <td>₱ {{ favorite_item.item.price }}</td>
            <td class="d-flex justify-content-between align-items-center">
                {% if favorite_item.item.discount_price %}
                ₱{{ favorite_item.get_total_discount_item_price }}
                    <span class="badge badge-primary">Saving ₱{{ favorite_item.get_amount_saved }}</span>
                {% else %}
                ₱{{ favorite_item.get_total_item_price }}
                {% endif %}
            </td>
            <td >
             <div class="d-flex justify-content-center">
                <a href="{% url 'core:add-to-cart-from-favorites' favorite_item.item.slug %}" class="mr-4"><i class="fas fa-shopping-cart fa-lg"></i></a>
                <a href="{% url 'core:remove-from-favorites' favorite_item.item.slug %}"><i class="fa-solid fa-heart fa-lg"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5' class="text-center">No Favorites Added</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


