{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap mt-2">
    <h2 class="poppins-semibold">Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discounted Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>₱ {{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td class="d-flex justify-content-between align-items-center">
            {% if order_item.item.discount_price %}
            ₱ {{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ₱{{ order_item.get_amount_saved }}</span>
            {% else %}
            ₱ {{ order_item.get_final_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <td colspan="5">
            {% if DISPLAY_COUPON_FORM %}
            <form action="{% url 'core:add-coupon-order-summary' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    {{ couponform.code }}
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-sm waves-effect m-0" type="submit">Redeem</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </td>
        <tr>
            <td colspan="4"><b>Mechandise Subtotal</b></td>
            <td class="d-flex justify-content-between align-items-center">
                <span class="poppins-bold">₱ {{ object.get_original_amount }}</span>
                <span class="badge badge-primary">
                    <span >Total Saving </span><br>
                        <span > ₱ {{ object.get_total_discount_amount }}</span></span>
                    <span class="badge bg-dark p-2">{{ object.items.count }} items</span>
            </td>
        </tr>
        <tr>
            <td colspan="4"><b>Discounted Price</b></td>
            <td><p class="poppins-bold">₱ {{ object.get_sub_total }}</p></td>
        </tr>
        <tr>
            <td colspan="4"><i class="fa-solid fa-truck-fast"></i> Shipping Fee </td>
            <td><p class="poppins-bold">₱ {{ object.get_shipping_fee }}</p></td>
        </tr>
        <tr>
            <td colspan="3"><i class="fa-solid fa-ticket"></i> Coupon</td>
            <td>
                <p class="badge p-2 text-white bg-dark poppins-bold">{{ object.coupon.code }}</p>
            </td>
            <td class="d-flex justify-content-between align-items-center">
                <p class="red-text poppins-bold">-₱ {{ object.coupon.amount }}</p>
                <a style='color: red;'>
                    <i class="fas fa-trash float-right"></i>
                </a>
            </td>
            
        </tr>
        
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><p class="poppins-bold">₱{{ object.get_total }}</p></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


